@media (max-width: 576px) {
  .responsive-content {
    font-size: 4vw;
    padding : 1px
  }
}

@media (max-width: 576px) {
  .responsive-content-item {
    font-size: 5vw;
    padding : 4px
  }
}

@media (max-width: 576px) {
  .responsive-content-heading {
    font-size: 8vw;
    font-weight : bold
  }
}

@media (max-width: 576px) {
  .responsive-content-sizechart {
    font-size: 5vw;
  }
}

@media (max-width: 576px) {
  .responsive-content-cart {
    font-size: 5vw;
  }
}

@media (max-width: 576px) {
  .responsive-content-description {
    font-size: 6vw;
  }
}

@media (max-width: 576px) {
  .responsive-content-cart-button {
    font-size: 5vw;
    font-weight : bold
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family : Monaco;
}

.logo-img {
  width : 99px;
  height : 60px
}

.navbar {
  background-color: #5b18b0;
  margin-bottom: 0;
  color : #FFF;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding : 0.2% 0.5%
}

.navbar-nav {
  margin-bottom: 0;
  color : #FFF;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding : 0.2% 0.2%
}

.nav-link .btn-nav
{
  color : yellow;
  font-family : Monaco;
  background-color: #5b18b0;
}

.btn-nav:hover {
  font-size : 130%;
  background-color: #e6e600;
  color : #5b18b0;
}

.btn-itemCard {
  background-color: #5b18b0;
  color : #e6e600;
}

.btn-itemCard:hover{
  background-color: #e6e600;
  color : #5b18b0;
}

.btn-item {
  background-color: #5b18b0;
  color : #e6e600;
}

.btn-item:hover{
  background-color: #e6e600;
  color : #5b18b0;
}

.size-chart {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.item-image {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.border-top, .border-bottom {
  margin: 0;
  padding: 0;
}

.cart {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.cart-price-padding {
  padding-bottom: 2vh;
}

